
.header {

}

.footer {
    &Title {
        font-family: var(--font-headline);
        color: var(--bs-primary);

        font-weight: 800;
        line-height: 95%;
        text-transform: uppercase;
        text-rendering: geometricPrecision;

        font-size: 32px;
    }

}

